* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    -webkit-user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
}

body {
    padding: 35px 0 0;
}

nav {
    border-bottom: 1px solid #0b0b0b;
    background: #363636;
    height: 36px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    line-height: 37px;
    -webkit-app-region: drag;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    display: flex;
    padding: 0 90px;
    overflow: auto;
    flex-wrap: nowrap;
}

nav ul:after {
    position: fixed;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, #363636 75%, rgba(0, 0, 0, 0) 100%);
    content: '';
    width: 100px;
    height: 35px;
    pointer-events: none;
}

nav ul:before {
    position: fixed;
    right: 0;
    top: 0;
    background-image: linear-gradient(-90deg, #363636 0, rgba(0, 0, 0, 0) 100%);
    content: '';
    width: 48px;
    height: 35px;
    pointer-events: none;
}

nav li {
    padding: 0 12px;
    color: #9b9b9b;
    cursor: pointer;
    white-space: nowrap;
}

nav li:hover {
    color: #eee;
}

nav li.active {
    color: #fff;
    font-weight: 600;
}

nav ::-webkit-scrollbar {
    -webkit-appearance: none;
}

.graph-outer {
    padding: 34px 40px;
    display: flex;
    height: calc(100vh - 40px);
    box-sizing: border-box;
    -webkit-app-region: drag;
}

.calendar-outer {
    display: grid;
    border-top: 0.2px solid #1b1c1f;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    -webkit-app-region: drag;
}

.calendar-day {
    box-sizing: border-box;
    border-right: 0.2px solid #343434;
    border-bottom: 0.2px solid #343434;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 12px 6px;
}

.calendar-date {
    font-size: 10px;
    color: #777;
    font-weight: 500;
}

.calendar-duration {
    font-size: 10px;
    color: #ccc;
    font-weight: 500;
}

.calendar-inner {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendar-inner span {
    display: inline-block;
    background: #343434 no-repeat 8px 50%;
    background-size: 12px;
    border-radius: 24px;
    line-height: 16px;
    margin-top: 3px;
    padding: 3px 8px 3px 25px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.calendar-inner .calendar-tasks {
    color: #f9d448;
    background-image: url("./images/scheduled.png");
}

.calendar-inner .calendar-deadlines {
    color: #e63958;
    background-image: url("./images/deadline.png");
}

.calendar-inner .calendar-repeating {
    color: #4dabf1;
    background-image: url("./images/repeating.png");
}

.tasks {
    padding: 32px 36px;
    margin: -4px 0;
}

.tasks li {
    margin: 0 -10px;
    padding: 4px 10px;
    list-style: none;
}

.tasks li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.tasks__divider {
    border-bottom: 1px solid rgba(70, 71, 70, 0.5);
    padding-bottom: 7px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 24px;
    background: url("images/Source-Scheduled-Dark@2x.png") no-repeat 0 4px;
    padding-left: 24px;
    background-size: 16px;
}

.tasks__title {
    height: 18px;
    line-height: 18px;
    white-space: normal;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tasks__subtitle {
    font-size: 12px;
    color: #939393;
}

.tasks__summary {
    font-weight: 700;
    color: #939393;
    margin: 2px 0;
}

.schedule-day {
    padding: 1.6rem 0;
    padding-bottom: 2rem;
    margin: 0 2rem;
    border-bottom: 1px solid rgba(70, 71, 70, 0.5);
}

.schedule-day:last-child {
    border-bottom: 0;
}

.schedule-day__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.schedule-day__header .calendar-date {
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    color: #eee;
}

.schedule-day__header .calendar-date span {
    display: block;
    margin-top: 0.1rem;
    font-size: 11px;
    font-weight: 400;
    color: #999;
}

.schedule-day__header .calendar-inner {
    width: auto;
    flex: none;
    justify-content: flex-end;
    flex-direction: row;
}

.schedule-day__header .calendar-inner span {
    margin-left: 0.4rem;
}

.schedule-day__timings {
    display: flex;
    flex-wrap: wrap;
}

.schedule-day__item {
    display: inline-block;
    height: 12px;
    min-width: 12px;
    background-color: #aaa;
    margin-top: 0.44rem;
    margin-right: 3px;
    position: relative;
    border-radius: 6px;
    transition: all 0.1s ease;
}

.schedule-day__item:hover {
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 10;
}

.schedule-day__item.task {
    background-color: #f9d448;
}

.schedule-day__item.deadline {
    background-color: #e63958;
}

.schedule-day__item.repeating {
    background-color: #4dabf1;
}

.schedule-day__divider {
  width: 1rem;
}
